<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список профессий</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Список профессий</h1>
    {% set spisok = 'инженер-исследователь, пилот, строитель, экзобиолог, врач, инженер по терраформированию, климатолог, специалист по радиационной защите, астрогеолог, гляциолог, инженер жизнеобеспечения, метеоролог, оператор марсохода, киберинженер, штурман, пилот дронов'.split(', ')%}
    {% if type == 'ul'%}
        <ul>
            {% for i in spisok %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
    {% elif type == 'ol' %}
        <ol>
            {% for i in spisok %}
            <li>{{ i }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Ошибка: Неверный параметр</p>
    {% endif %}
{% endblock %}
</body>
</html>